.nb{
    text-align: center;
    background-color: rgb(39, 39, 121);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    height: 100px;
    width:100%;
}
