* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #f4f6f8;
  color: #333;
}

header {
  background-color: #1d2f49;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header p {
  margin-top: 5px;
  font-size: 14px;
  opacity: 0.8;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 100vh;
}

/* Task Form */
.task-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 450px;
  width: 50%;
  margin: 40px; 
}
.task-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 450px;
  width: 50%;
  margin: 40px;
  overflow-y: auto;
}

.task-form h2,
.task-list h2 {
  margin-bottom: 15px;
  height: 50px;
}

form input,
form textarea,
form select {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #2563eb;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background-color: #1d4ed8;
}

/* Task Cards */
.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #fafafa;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
    .task-form, .task-list {
        width: 100%;
        margin: 10px 0;
    }

}

#taskDesc{
    height:100px;    
}
.btn{
    width: 100%;
}
